#keyboardFuQueue {
    -webkit-border-radius: 4px;
    background: black;
    bottom: 20px;
    color: white;
    opacity: .8;
    position: fixed;
    right: 50px;
    font-size: 30px;
    line-height: 40px;
    font-family: Monaco, Consolas, Inconsolata, "Liberation Mono", monospace;
    padding: 5px 12px;
    display: none;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
}

#keyboardFuQueue.active {
    display: block;
}

#fuKeyRef {
    background: black;
    color: white;
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    position: fixed;
    top: 30px;
    right: 5%;
    left: 5%;
    min-height: 120px;
    z-index: 9999999;
    opacity: .85;
    -webkit-box-shadow: 0 2px 50px rgba(0, 0, 0, .7);
}
