#keyboardFuQueue {
    -webkit-border-radius: 4px;
    background: black;
    bottom: 20px;
    color: white;
    opacity: .8;
    position: fixed;
    right: 50px;
    font-size: 30px;
    line-height: 40px;
    font-family: Monaco, Consolas, Inconsolata, "Liberation Mono", monospace;
    padding: 5px 12px;
    display: none;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
}

#keyboardFuQueue.active {
    display: block;
}

#fuKeyRef {
    background: black;
    color: white;
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    position: fixed;
    top: 30px;
    right: 15%;
    left: 15%;
    min-height: 120px;
    z-index: 9999999;
    opacity: .85;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .8);
}

#fuKeyRef .fu-key-item {
    clear: both;
    margin: 3px 7px;
}

#fuKeyRef .fu-refbox-keyc {
    margin-left: 12px;
    float: left;
    background: #333;
    -webkit-border-radius: 2px;
    padding: 2px 3px;
    font-size: 1em;
}

#fuKeyRef .fu-refbox-desc {
    width: 120px;
    float: left;
}
